{% extends "base.html" %}

{% load static %}

{% block loadscripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="{% static "/js/jquery.min.js" %}"></script>
{% endblock %}

{% block heading %}
    <h1 align="center">{{ activity.start_time }}</h1>
{% endblock %}

{% block body %}
    <figure class="highcharts-figure">
        <div id="{{ chart_id | safe }}"></div>
    </figure>

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_ul }}
        <input type="submit" value="Apply">
    </form>
{% endblock %}

{% block scripts %}
    <script>
        var title = "{{ title|safe }}";
        var xAxis = {{ xAxis|safe }}
        var yAxis = {{ yAxis|safe }}
        var series = {{ series|safe }}

        Highcharts.chart('{{ chart_id }}',
            {
                title: title,
                yAxis: yAxis,
                xAxis: xAxis,
                series: series,
                plotOptions: {
                    series: {
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        lineWidth: 1
                    }
                }
            })
    </script>
{% endblock %}