{% extends "base.html" %}

{% load static %}

{% block loadscripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "/js/jquery.min.js" %}"></script>
{% endblock %}

{% block heading %}
    <h1 align="center">{{ activity.start_time }}</h1>
{% endblock %}

{% block body %}
    <figure class="highcharts-figure">
        <div id="{{ chart_id | safe }}"></div>
    </figure>

    <form id="field_form">
        {% csrf_token %}
        {{ form.as_ul }}
        <button id="apply" onclick="apply()"> Apply </button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        const activityId = {{ activity.id }};
        const title = "{{ title|safe }}";
        let xAxis = {{ xAxis|safe }};
        let tooltip = {{ tooltip|safe }};

        let series;
        let chart;

        apply = function () {
            let form = document.getElementById("field_form").getElementsByTagName('input')
            let fields = [];

            for (let i = 1; i < form.length; i++) {
                let f = form[i].getAttribute('name')
                if (document.getElementById('id_' + f).checked) {
                    fields.push(f)
                }
            }

            $.ajax({
                url: '/activity/data/' + activityId,
                type: 'GET',
                data: {
                    'fields': fields
                },
                dataType: 'json',
                success: function (data) {
                    for (const key in data.series) {
                        if (data.series.hasOwnProperty(key)) {
                            chart.addSeries({
                                name: key,
                                data: data.series[key]
                            })
                        }
                    }
                }
            });
        }

        $(document).ready( function () {
            chart = new Highcharts.chart('{{ chart_id }}',
            {
                title: title,
                yAxis: {},
                xAxis: xAxis,
                series: series,
                tooltip: tooltip,
                plotOptions: {
                    series: {
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        lineWidth: 1
                    }
                }
            })

            apply()
        })

    </script>
{% endblock %}