{% extends "base.html" %}

{% load static %}

{% block loadscripts %}
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static "/js/jquery.min.js" %}"></script>
{% endblock %}

{% block heading %}
    <h1 align="center">{{ activity.start_time }}</h1>
{% endblock %}

{% block body %}
    <figure class="highcharts-figure">
        <div id="{{ chart_id | safe }}"></div>
    </figure>

    <form id="field_form">
        {% csrf_token %}
        {{ form.as_ul }}
    </form>

    <button id="apply" onclick="apply()"> Apply </button>
{% endblock %}

{% block scripts %}
    <script>
        const activityId = {{ activity.id }};
        const title = "{{ title|safe }}";
        let xAxis = {{ xAxis|safe }};
        let tooltip = {{ tooltip|safe }};

        let checkedFields;
        let displayedFields = [];
        let series;
        let chart;

        updateCheckedFields = function () {
            let form = document.getElementById("field_form").getElementsByTagName('input')
            checkedFields = []

            for (let i = 1; i < form.length; i++) {
                let f = form[i].getAttribute('name')
                if (document.getElementById('id_' + f).checked) {
                    checkedFields.push(f)
                }
            }
        }

        apply = function () {
            updateCheckedFields()

            const newFields = [];
            const oldFields = [];

            for (const field in checkedFields) {
                if (checkedFields.hasOwnProperty(field)) {
                    if (!displayedFields.includes(checkedFields[field])) {
                        newFields.push(checkedFields[field])
                    }
                }
            }

            for (const field in displayedFields) {
                if (displayedFields.hasOwnProperty(field)) {
                    if (!checkedFields.includes(displayedFields[field])) {
                        oldFields.push(displayedFields[field])
                    }
                }
            }

            displayedFields = checkedFields

            let i = 0
            while (i < chart.series.length) {
                if (oldFields.includes(chart.series[i].name)) {
                    chart.series[i].remove()
                } else {
                    i++
                }
            }

            if (newFields.length) {
                $.ajax({
                    url: '/activity/data/' + activityId,
                    type: 'GET',
                    data: {
                        'fields': newFields
                    },
                    dataType: 'json',
                    success: function (data) {

                        for (const key in data.series) {
                            if (data.series.hasOwnProperty(key)) {
                                chart.addSeries({
                                    name: key,
                                    data: data.series[key]
                                })
                            }
                        }
                    }
                });
            }
        }

        $(document).ready( function () {
            chart = new Highcharts.chart('{{ chart_id }}',
            {
                title: title,
                yAxis: {},
                xAxis: xAxis,
                series: series,
                tooltip: tooltip,
                plotOptions: {
                    series: {
                        states: {
                            hover: {
                                lineWidth: 1
                            }
                        },
                        lineWidth: 1
                    }
                }
            })

            apply()
        })

    </script>
{% endblock %}